{% extends 'base.html' %}
{% block content %}

<div class="  " style="text-align: center;">
  Hello "user name" <br/>
  Welcome to Ground zero page
  <div>
    <ul class="nav justify-content-center">
  <li class="nav-item" style="padding: 0.5em;">
    <a class="nav-link active btn btn-primary "  href="{% url 'profile' %}">Profile</a>
  </li>
  <li class="nav-item" style="padding: 0.5em;">
    <a class="nav-link btn btn-primary" href="{% url 'message' %}">Message</a>
  </li>
  <li class="nav-item" style="padding: 0.5em;">
    <a class="nav-link btn btn-primary" href="{% url 'post' %}">Job Hunt</a>
  </li>
  </ul>
  </div>

</div>

{% endblock %}
